<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>
    <ul>
      <!-- <li>Buy Groceries</li>
      <li>Buy Milk</li>
      <li>Buy IceCream</li> -->
      <% newlistitem.map((item)=>{ %>
      <li><%=item %></li>
      <%})%>
    </ul>
    <form action="/" method="POST">
      <input type="text" name="wakanda" placeholder="item" />
      <button type="submit">Add a task</button>
    </form>
  </body>
</html>
