<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List</title>
  </head>
  <body>
    <% if (kindOfDay==='Saturday'|| kindOfDay==='Sunday') { %>
    <h1 style="color: purple">It's a <%= kindOfDay %></h1>
    <p style="color: orange">You need to rest</p>
    <% } else { %>
    <h1 style="color: green">It's a<%= kindOfDay %></h1>
    <%}%>
  </body>
</html>
